/* prefix:'pun-' bg:black acc:Pink color:Blue color2:Blue Grey  */
.pun-color-50.pun-hr,
.pun-color-50 > .pun-hr, .pun-color-100.pun-hr,
.pun-color-100 > .pun-hr, .pun-color-200.pun-hr,
.pun-color-200 > .pun-hr, .pun-color-300.pun-hr,
.pun-color-300 > .pun-hr, .pun-color-400.pun-hr,
.pun-color-400 > .pun-hr, .pun-color-500.pun-hr,
.pun-color-500 > .pun-hr, .pun-color2-50.pun-hr,
.pun-color2-50 > .pun-hr, .pun-color2-100.pun-hr,
.pun-color2-100 > .pun-hr, .pun-color2-200.pun-hr,
.pun-color2-200 > .pun-hr, .pun-color2-300.pun-hr,
.pun-color2-300 > .pun-hr, .pun-color2-400.pun-hr,
.pun-color2-400 > .pun-hr, .pun-color-a1.pun-hr,
.pun-color-a1 > .pun-hr, .pun-color-a2.pun-hr,
.pun-color-a2 > .pun-hr, .pun-hr, .pun-color-600.pun-hr,
.pun-color-600 > .pun-hr, .pun-color-700.pun-hr,
.pun-color-700 > .pun-hr, .pun-color-800.pun-hr,
.pun-color-800 > .pun-hr, .pun-color-900.pun-hr,
.pun-color-900 > .pun-hr, .pun-color2-500.pun-hr,
.pun-color2-500 > .pun-hr, .pun-color2-600.pun-hr,
.pun-color2-600 > .pun-hr, .pun-color2-700.pun-hr,
.pun-color2-700 > .pun-hr, .pun-color2-800.pun-hr,
.pun-color2-800 > .pun-hr, .pun-color2-900.pun-hr,
.pun-color2-900 > .pun-hr, .pun-color-a3.pun-hr,
.pun-color-a3 > .pun-hr, .pun-color-a4.pun-hr,
.pun-color-a4 > .pun-hr {
  height: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }
  .pun-color-50.pun-hr::before,
  .pun-color-50 > .pun-hr::before, .pun-color-100.pun-hr::before,
  .pun-color-100 > .pun-hr::before, .pun-color-200.pun-hr::before,
  .pun-color-200 > .pun-hr::before, .pun-color-300.pun-hr::before,
  .pun-color-300 > .pun-hr::before, .pun-color-400.pun-hr::before,
  .pun-color-400 > .pun-hr::before, .pun-color-500.pun-hr::before,
  .pun-color-500 > .pun-hr::before, .pun-color2-50.pun-hr::before,
  .pun-color2-50 > .pun-hr::before, .pun-color2-100.pun-hr::before,
  .pun-color2-100 > .pun-hr::before, .pun-color2-200.pun-hr::before,
  .pun-color2-200 > .pun-hr::before, .pun-color2-300.pun-hr::before,
  .pun-color2-300 > .pun-hr::before, .pun-color2-400.pun-hr::before,
  .pun-color2-400 > .pun-hr::before, .pun-color-a1.pun-hr::before,
  .pun-color-a1 > .pun-hr::before, .pun-color-a2.pun-hr::before,
  .pun-color-a2 > .pun-hr::before, .pun-hr::before, .pun-color-600.pun-hr::before,
  .pun-color-600 > .pun-hr::before, .pun-color-700.pun-hr::before,
  .pun-color-700 > .pun-hr::before, .pun-color-800.pun-hr::before,
  .pun-color-800 > .pun-hr::before, .pun-color-900.pun-hr::before,
  .pun-color-900 > .pun-hr::before, .pun-color2-500.pun-hr::before,
  .pun-color2-500 > .pun-hr::before, .pun-color2-600.pun-hr::before,
  .pun-color2-600 > .pun-hr::before, .pun-color2-700.pun-hr::before,
  .pun-color2-700 > .pun-hr::before, .pun-color2-800.pun-hr::before,
  .pun-color2-800 > .pun-hr::before, .pun-color2-900.pun-hr::before,
  .pun-color2-900 > .pun-hr::before, .pun-color-a3.pun-hr::before,
  .pun-color-a3 > .pun-hr::before, .pun-color-a4.pun-hr::before,
  .pun-color-a4 > .pun-hr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.0625em; }

.pun-color-50.pun-txt1-bg,
.pun-color-50 > .pun-txt1-bg, .pun-color-100.pun-txt1-bg,
.pun-color-100 > .pun-txt1-bg, .pun-color-200.pun-txt1-bg,
.pun-color-200 > .pun-txt1-bg, .pun-color-300.pun-txt1-bg,
.pun-color-300 > .pun-txt1-bg, .pun-color-400.pun-txt1-bg,
.pun-color-400 > .pun-txt1-bg, .pun-color-500.pun-txt1-bg,
.pun-color-500 > .pun-txt1-bg, .pun-color2-50.pun-txt1-bg,
.pun-color2-50 > .pun-txt1-bg, .pun-color2-100.pun-txt1-bg,
.pun-color2-100 > .pun-txt1-bg, .pun-color2-200.pun-txt1-bg,
.pun-color2-200 > .pun-txt1-bg, .pun-color2-300.pun-txt1-bg,
.pun-color2-300 > .pun-txt1-bg, .pun-color2-400.pun-txt1-bg,
.pun-color2-400 > .pun-txt1-bg, .pun-color-a1.pun-txt1-bg,
.pun-color-a1 > .pun-txt1-bg, .pun-color-a2.pun-txt1-bg,
.pun-color-a2 > .pun-txt1-bg {
  background-color: rgba(0, 0, 0, 0.87); }

.pun-color-50.pun-txt2-bg,
.pun-color-50 > .pun-txt2-bg, .pun-color-100.pun-txt2-bg,
.pun-color-100 > .pun-txt2-bg, .pun-color-200.pun-txt2-bg,
.pun-color-200 > .pun-txt2-bg, .pun-color-300.pun-txt2-bg,
.pun-color-300 > .pun-txt2-bg, .pun-color-400.pun-txt2-bg,
.pun-color-400 > .pun-txt2-bg, .pun-color-500.pun-txt2-bg,
.pun-color-500 > .pun-txt2-bg, .pun-color2-50.pun-txt2-bg,
.pun-color2-50 > .pun-txt2-bg, .pun-color2-100.pun-txt2-bg,
.pun-color2-100 > .pun-txt2-bg, .pun-color2-200.pun-txt2-bg,
.pun-color2-200 > .pun-txt2-bg, .pun-color2-300.pun-txt2-bg,
.pun-color2-300 > .pun-txt2-bg, .pun-color2-400.pun-txt2-bg,
.pun-color2-400 > .pun-txt2-bg, .pun-color-a1.pun-txt2-bg,
.pun-color-a1 > .pun-txt2-bg, .pun-color-a2.pun-txt2-bg,
.pun-color-a2 > .pun-txt2-bg {
  background-color: rgba(0, 0, 0, 0.54); }

.pun-color-50.pun-txt3-bg,
.pun-color-50 > .pun-txt3-bg, .pun-color-100.pun-txt3-bg,
.pun-color-100 > .pun-txt3-bg, .pun-color-200.pun-txt3-bg,
.pun-color-200 > .pun-txt3-bg, .pun-color-300.pun-txt3-bg,
.pun-color-300 > .pun-txt3-bg, .pun-color-400.pun-txt3-bg,
.pun-color-400 > .pun-txt3-bg, .pun-color-500.pun-txt3-bg,
.pun-color-500 > .pun-txt3-bg, .pun-color2-50.pun-txt3-bg,
.pun-color2-50 > .pun-txt3-bg, .pun-color2-100.pun-txt3-bg,
.pun-color2-100 > .pun-txt3-bg, .pun-color2-200.pun-txt3-bg,
.pun-color2-200 > .pun-txt3-bg, .pun-color2-300.pun-txt3-bg,
.pun-color2-300 > .pun-txt3-bg, .pun-color2-400.pun-txt3-bg,
.pun-color2-400 > .pun-txt3-bg, .pun-color-a1.pun-txt3-bg,
.pun-color-a1 > .pun-txt3-bg, .pun-color-a2.pun-txt3-bg,
.pun-color-a2 > .pun-txt3-bg {
  background-color: rgba(0, 0, 0, 0.26); }

.pun-color-50.pun-icon-bg,
.pun-color-50 > .pun-icon-bg, .pun-color-100.pun-icon-bg,
.pun-color-100 > .pun-icon-bg, .pun-color-200.pun-icon-bg,
.pun-color-200 > .pun-icon-bg, .pun-color-300.pun-icon-bg,
.pun-color-300 > .pun-icon-bg, .pun-color-400.pun-icon-bg,
.pun-color-400 > .pun-icon-bg, .pun-color-500.pun-icon-bg,
.pun-color-500 > .pun-icon-bg, .pun-color2-50.pun-icon-bg,
.pun-color2-50 > .pun-icon-bg, .pun-color2-100.pun-icon-bg,
.pun-color2-100 > .pun-icon-bg, .pun-color2-200.pun-icon-bg,
.pun-color2-200 > .pun-icon-bg, .pun-color2-300.pun-icon-bg,
.pun-color2-300 > .pun-icon-bg, .pun-color2-400.pun-icon-bg,
.pun-color2-400 > .pun-icon-bg, .pun-color-a1.pun-icon-bg,
.pun-color-a1 > .pun-icon-bg, .pun-color-a2.pun-icon-bg,
.pun-color-a2 > .pun-icon-bg {
  background-color: rgba(0, 0, 0, 0.54); }

.pun-color-50, .pun-color-50.pun-txt1,
.pun-color-50 > .pun-txt1, .pun-color-100, .pun-color-100.pun-txt1,
.pun-color-100 > .pun-txt1, .pun-color-200, .pun-color-200.pun-txt1,
.pun-color-200 > .pun-txt1, .pun-color-300, .pun-color-300.pun-txt1,
.pun-color-300 > .pun-txt1, .pun-color-400, .pun-color-400.pun-txt1,
.pun-color-400 > .pun-txt1, .pun-color-500, .pun-color-500.pun-txt1,
.pun-color-500 > .pun-txt1, .pun-color2-50, .pun-color2-50.pun-txt1,
.pun-color2-50 > .pun-txt1, .pun-color2-100, .pun-color2-100.pun-txt1,
.pun-color2-100 > .pun-txt1, .pun-color2-200, .pun-color2-200.pun-txt1,
.pun-color2-200 > .pun-txt1, .pun-color2-300, .pun-color2-300.pun-txt1,
.pun-color2-300 > .pun-txt1, .pun-color2-400, .pun-color2-400.pun-txt1,
.pun-color2-400 > .pun-txt1, .pun-color-a1, .pun-color-a1.pun-txt1,
.pun-color-a1 > .pun-txt1, .pun-color-a2, .pun-color-a2.pun-txt1,
.pun-color-a2 > .pun-txt1, .pun-info-bg, .pun-warning-bg {
  color: rgba(0, 0, 0, 0.87); }

.pun-color-50.pun-txt2,
.pun-color-50 > .pun-txt2, .pun-color-100.pun-txt2,
.pun-color-100 > .pun-txt2, .pun-color-200.pun-txt2,
.pun-color-200 > .pun-txt2, .pun-color-300.pun-txt2,
.pun-color-300 > .pun-txt2, .pun-color-400.pun-txt2,
.pun-color-400 > .pun-txt2, .pun-color-500.pun-txt2,
.pun-color-500 > .pun-txt2, .pun-color2-50.pun-txt2,
.pun-color2-50 > .pun-txt2, .pun-color2-100.pun-txt2,
.pun-color2-100 > .pun-txt2, .pun-color2-200.pun-txt2,
.pun-color2-200 > .pun-txt2, .pun-color2-300.pun-txt2,
.pun-color2-300 > .pun-txt2, .pun-color2-400.pun-txt2,
.pun-color2-400 > .pun-txt2, .pun-color-a1.pun-txt2,
.pun-color-a1 > .pun-txt2, .pun-color-a2.pun-txt2,
.pun-color-a2 > .pun-txt2 {
  color: rgba(0, 0, 0, 0.54); }

.pun-color-50.pun-txt3,
.pun-color-50 > .pun-txt3, .pun-color-100.pun-txt3,
.pun-color-100 > .pun-txt3, .pun-color-200.pun-txt3,
.pun-color-200 > .pun-txt3, .pun-color-300.pun-txt3,
.pun-color-300 > .pun-txt3, .pun-color-400.pun-txt3,
.pun-color-400 > .pun-txt3, .pun-color-500.pun-txt3,
.pun-color-500 > .pun-txt3, .pun-color2-50.pun-txt3,
.pun-color2-50 > .pun-txt3, .pun-color2-100.pun-txt3,
.pun-color2-100 > .pun-txt3, .pun-color2-200.pun-txt3,
.pun-color2-200 > .pun-txt3, .pun-color2-300.pun-txt3,
.pun-color2-300 > .pun-txt3, .pun-color2-400.pun-txt3,
.pun-color2-400 > .pun-txt3, .pun-color-a1.pun-txt3,
.pun-color-a1 > .pun-txt3, .pun-color-a2.pun-txt3,
.pun-color-a2 > .pun-txt3 {
  color: rgba(0, 0, 0, 0.26); }

.pun-color-50.pun-icon,
.pun-color-50 > .pun-icon, .pun-color-100.pun-icon,
.pun-color-100 > .pun-icon, .pun-color-200.pun-icon,
.pun-color-200 > .pun-icon, .pun-color-300.pun-icon,
.pun-color-300 > .pun-icon, .pun-color-400.pun-icon,
.pun-color-400 > .pun-icon, .pun-color-500.pun-icon,
.pun-color-500 > .pun-icon, .pun-color2-50.pun-icon,
.pun-color2-50 > .pun-icon, .pun-color2-100.pun-icon,
.pun-color2-100 > .pun-icon, .pun-color2-200.pun-icon,
.pun-color2-200 > .pun-icon, .pun-color2-300.pun-icon,
.pun-color2-300 > .pun-icon, .pun-color2-400.pun-icon,
.pun-color2-400 > .pun-icon, .pun-color-a1.pun-icon,
.pun-color-a1 > .pun-icon, .pun-color-a2.pun-icon,
.pun-color-a2 > .pun-icon {
  color: rgba(0, 0, 0, 0.54); }

.pun-color-50.pun-hr::before,
.pun-color-50 > .pun-hr::before, .pun-color-100.pun-hr::before,
.pun-color-100 > .pun-hr::before, .pun-color-200.pun-hr::before,
.pun-color-200 > .pun-hr::before, .pun-color-300.pun-hr::before,
.pun-color-300 > .pun-hr::before, .pun-color-400.pun-hr::before,
.pun-color-400 > .pun-hr::before, .pun-color-500.pun-hr::before,
.pun-color-500 > .pun-hr::before, .pun-color2-50.pun-hr::before,
.pun-color2-50 > .pun-hr::before, .pun-color2-100.pun-hr::before,
.pun-color2-100 > .pun-hr::before, .pun-color2-200.pun-hr::before,
.pun-color2-200 > .pun-hr::before, .pun-color2-300.pun-hr::before,
.pun-color2-300 > .pun-hr::before, .pun-color2-400.pun-hr::before,
.pun-color2-400 > .pun-hr::before, .pun-color-a1.pun-hr::before,
.pun-color-a1 > .pun-hr::before, .pun-color-a2.pun-hr::before,
.pun-color-a2 > .pun-hr::before {
  background-color: rgba(0, 0, 0, 0.12); }

.pun-color-50.pun-hr-border,
.pun-color-50 > .pun-hr-border, .pun-color-100.pun-hr-border,
.pun-color-100 > .pun-hr-border, .pun-color-200.pun-hr-border,
.pun-color-200 > .pun-hr-border, .pun-color-300.pun-hr-border,
.pun-color-300 > .pun-hr-border, .pun-color-400.pun-hr-border,
.pun-color-400 > .pun-hr-border, .pun-color-500.pun-hr-border,
.pun-color-500 > .pun-hr-border, .pun-color2-50.pun-hr-border,
.pun-color2-50 > .pun-hr-border, .pun-color2-100.pun-hr-border,
.pun-color2-100 > .pun-hr-border, .pun-color2-200.pun-hr-border,
.pun-color2-200 > .pun-hr-border, .pun-color2-300.pun-hr-border,
.pun-color2-300 > .pun-hr-border, .pun-color2-400.pun-hr-border,
.pun-color2-400 > .pun-hr-border, .pun-color-a1.pun-hr-border,
.pun-color-a1 > .pun-hr-border, .pun-color-a2.pun-hr-border,
.pun-color-a2 > .pun-hr-border {
  border-bottom: 0.0625em solid rgba(0, 0, 0, 0.12); }

.pun-txt1-bg, .pun-color-600.pun-txt1-bg,
.pun-color-600 > .pun-txt1-bg, .pun-color-700.pun-txt1-bg,
.pun-color-700 > .pun-txt1-bg, .pun-color-800.pun-txt1-bg,
.pun-color-800 > .pun-txt1-bg, .pun-color-900.pun-txt1-bg,
.pun-color-900 > .pun-txt1-bg, .pun-color2-500.pun-txt1-bg,
.pun-color2-500 > .pun-txt1-bg, .pun-color2-600.pun-txt1-bg,
.pun-color2-600 > .pun-txt1-bg, .pun-color2-700.pun-txt1-bg,
.pun-color2-700 > .pun-txt1-bg, .pun-color2-800.pun-txt1-bg,
.pun-color2-800 > .pun-txt1-bg, .pun-color2-900.pun-txt1-bg,
.pun-color2-900 > .pun-txt1-bg, .pun-color-a3.pun-txt1-bg,
.pun-color-a3 > .pun-txt1-bg, .pun-color-a4.pun-txt1-bg,
.pun-color-a4 > .pun-txt1-bg {
  background-color: #ffffff; }

.pun-txt2-bg, .pun-color-600.pun-txt2-bg,
.pun-color-600 > .pun-txt2-bg, .pun-color-700.pun-txt2-bg,
.pun-color-700 > .pun-txt2-bg, .pun-color-800.pun-txt2-bg,
.pun-color-800 > .pun-txt2-bg, .pun-color-900.pun-txt2-bg,
.pun-color-900 > .pun-txt2-bg, .pun-color2-500.pun-txt2-bg,
.pun-color2-500 > .pun-txt2-bg, .pun-color2-600.pun-txt2-bg,
.pun-color2-600 > .pun-txt2-bg, .pun-color2-700.pun-txt2-bg,
.pun-color2-700 > .pun-txt2-bg, .pun-color2-800.pun-txt2-bg,
.pun-color2-800 > .pun-txt2-bg, .pun-color2-900.pun-txt2-bg,
.pun-color2-900 > .pun-txt2-bg, .pun-color-a3.pun-txt2-bg,
.pun-color-a3 > .pun-txt2-bg, .pun-color-a4.pun-txt2-bg,
.pun-color-a4 > .pun-txt2-bg {
  background-color: rgba(255, 255, 255, 0.7); }

.pun-txt3-bg, .pun-color-600.pun-txt3-bg,
.pun-color-600 > .pun-txt3-bg, .pun-color-700.pun-txt3-bg,
.pun-color-700 > .pun-txt3-bg, .pun-color-800.pun-txt3-bg,
.pun-color-800 > .pun-txt3-bg, .pun-color-900.pun-txt3-bg,
.pun-color-900 > .pun-txt3-bg, .pun-color2-500.pun-txt3-bg,
.pun-color2-500 > .pun-txt3-bg, .pun-color2-600.pun-txt3-bg,
.pun-color2-600 > .pun-txt3-bg, .pun-color2-700.pun-txt3-bg,
.pun-color2-700 > .pun-txt3-bg, .pun-color2-800.pun-txt3-bg,
.pun-color2-800 > .pun-txt3-bg, .pun-color2-900.pun-txt3-bg,
.pun-color2-900 > .pun-txt3-bg, .pun-color-a3.pun-txt3-bg,
.pun-color-a3 > .pun-txt3-bg, .pun-color-a4.pun-txt3-bg,
.pun-color-a4 > .pun-txt3-bg {
  background-color: rgba(255, 255, 255, 0.3); }

.pun-icon-bg, .pun-color-600.pun-icon-bg,
.pun-color-600 > .pun-icon-bg, .pun-color-700.pun-icon-bg,
.pun-color-700 > .pun-icon-bg, .pun-color-800.pun-icon-bg,
.pun-color-800 > .pun-icon-bg, .pun-color-900.pun-icon-bg,
.pun-color-900 > .pun-icon-bg, .pun-color2-500.pun-icon-bg,
.pun-color2-500 > .pun-icon-bg, .pun-color2-600.pun-icon-bg,
.pun-color2-600 > .pun-icon-bg, .pun-color2-700.pun-icon-bg,
.pun-color2-700 > .pun-icon-bg, .pun-color2-800.pun-icon-bg,
.pun-color2-800 > .pun-icon-bg, .pun-color2-900.pun-icon-bg,
.pun-color2-900 > .pun-icon-bg, .pun-color-a3.pun-icon-bg,
.pun-color-a3 > .pun-icon-bg, .pun-color-a4.pun-icon-bg,
.pun-color-a4 > .pun-icon-bg {
  background-color: #ffffff; }

.pun-bg,
body, .pun-txt1, .pun-bg3, .pun-bg2, .pun-bg1, .pun-color-600, .pun-color-600.pun-txt1,
.pun-color-600 > .pun-txt1, .pun-color-700, .pun-color-700.pun-txt1,
.pun-color-700 > .pun-txt1, .pun-color-800, .pun-color-800.pun-txt1,
.pun-color-800 > .pun-txt1, .pun-color-900, .pun-color-900.pun-txt1,
.pun-color-900 > .pun-txt1, .pun-color2-500, .pun-color2-500.pun-txt1,
.pun-color2-500 > .pun-txt1, .pun-color2-600, .pun-color2-600.pun-txt1,
.pun-color2-600 > .pun-txt1, .pun-color2-700, .pun-color2-700.pun-txt1,
.pun-color2-700 > .pun-txt1, .pun-color2-800, .pun-color2-800.pun-txt1,
.pun-color2-800 > .pun-txt1, .pun-color2-900, .pun-color2-900.pun-txt1,
.pun-color2-900 > .pun-txt1, .pun-color-a3, .pun-color-a3.pun-txt1,
.pun-color-a3 > .pun-txt1, .pun-color-a4, .pun-color-a4.pun-txt1,
.pun-color-a4 > .pun-txt1, .pun-success-bg, .pun-error-bg {
  color: #ffffff; }

.pun-txt2, .pun-color-600.pun-txt2,
.pun-color-600 > .pun-txt2, .pun-color-700.pun-txt2,
.pun-color-700 > .pun-txt2, .pun-color-800.pun-txt2,
.pun-color-800 > .pun-txt2, .pun-color-900.pun-txt2,
.pun-color-900 > .pun-txt2, .pun-color2-500.pun-txt2,
.pun-color2-500 > .pun-txt2, .pun-color2-600.pun-txt2,
.pun-color2-600 > .pun-txt2, .pun-color2-700.pun-txt2,
.pun-color2-700 > .pun-txt2, .pun-color2-800.pun-txt2,
.pun-color2-800 > .pun-txt2, .pun-color2-900.pun-txt2,
.pun-color2-900 > .pun-txt2, .pun-color-a3.pun-txt2,
.pun-color-a3 > .pun-txt2, .pun-color-a4.pun-txt2,
.pun-color-a4 > .pun-txt2 {
  color: rgba(255, 255, 255, 0.7); }

.pun-txt3, .pun-color-600.pun-txt3,
.pun-color-600 > .pun-txt3, .pun-color-700.pun-txt3,
.pun-color-700 > .pun-txt3, .pun-color-800.pun-txt3,
.pun-color-800 > .pun-txt3, .pun-color-900.pun-txt3,
.pun-color-900 > .pun-txt3, .pun-color2-500.pun-txt3,
.pun-color2-500 > .pun-txt3, .pun-color2-600.pun-txt3,
.pun-color2-600 > .pun-txt3, .pun-color2-700.pun-txt3,
.pun-color2-700 > .pun-txt3, .pun-color2-800.pun-txt3,
.pun-color2-800 > .pun-txt3, .pun-color2-900.pun-txt3,
.pun-color2-900 > .pun-txt3, .pun-color-a3.pun-txt3,
.pun-color-a3 > .pun-txt3, .pun-color-a4.pun-txt3,
.pun-color-a4 > .pun-txt3 {
  color: rgba(255, 255, 255, 0.3); }

.pun-icon, .pun-color-600.pun-icon,
.pun-color-600 > .pun-icon, .pun-color-700.pun-icon,
.pun-color-700 > .pun-icon, .pun-color-800.pun-icon,
.pun-color-800 > .pun-icon, .pun-color-900.pun-icon,
.pun-color-900 > .pun-icon, .pun-color2-500.pun-icon,
.pun-color2-500 > .pun-icon, .pun-color2-600.pun-icon,
.pun-color2-600 > .pun-icon, .pun-color2-700.pun-icon,
.pun-color2-700 > .pun-icon, .pun-color2-800.pun-icon,
.pun-color2-800 > .pun-icon, .pun-color2-900.pun-icon,
.pun-color2-900 > .pun-icon, .pun-color-a3.pun-icon,
.pun-color-a3 > .pun-icon, .pun-color-a4.pun-icon,
.pun-color-a4 > .pun-icon {
  color: #ffffff; }

.pun-hr::before, .pun-color-600.pun-hr::before,
.pun-color-600 > .pun-hr::before, .pun-color-700.pun-hr::before,
.pun-color-700 > .pun-hr::before, .pun-color-800.pun-hr::before,
.pun-color-800 > .pun-hr::before, .pun-color-900.pun-hr::before,
.pun-color-900 > .pun-hr::before, .pun-color2-500.pun-hr::before,
.pun-color2-500 > .pun-hr::before, .pun-color2-600.pun-hr::before,
.pun-color2-600 > .pun-hr::before, .pun-color2-700.pun-hr::before,
.pun-color2-700 > .pun-hr::before, .pun-color2-800.pun-hr::before,
.pun-color2-800 > .pun-hr::before, .pun-color2-900.pun-hr::before,
.pun-color2-900 > .pun-hr::before, .pun-color-a3.pun-hr::before,
.pun-color-a3 > .pun-hr::before, .pun-color-a4.pun-hr::before,
.pun-color-a4 > .pun-hr::before {
  background-color: rgba(255, 255, 255, 0.12); }

.pun-hr-border, .pun-color-600.pun-hr-border,
.pun-color-600 > .pun-hr-border, .pun-color-700.pun-hr-border,
.pun-color-700 > .pun-hr-border, .pun-color-800.pun-hr-border,
.pun-color-800 > .pun-hr-border, .pun-color-900.pun-hr-border,
.pun-color-900 > .pun-hr-border, .pun-color2-500.pun-hr-border,
.pun-color2-500 > .pun-hr-border, .pun-color2-600.pun-hr-border,
.pun-color2-600 > .pun-hr-border, .pun-color2-700.pun-hr-border,
.pun-color2-700 > .pun-hr-border, .pun-color2-800.pun-hr-border,
.pun-color2-800 > .pun-hr-border, .pun-color2-900.pun-hr-border,
.pun-color2-900 > .pun-hr-border, .pun-color-a3.pun-hr-border,
.pun-color-a3 > .pun-hr-border, .pun-color-a4.pun-hr-border,
.pun-color-a4 > .pun-hr-border {
  border-bottom: 0.0625em solid rgba(255, 255, 255, 0.12); }

.pun-bg,
body {
  background-color: #303030; }

.pun-bg3 {
  background-color: #000000; }

.pun-bg2 {
  background-color: #212121; }

.pun-bg1 {
  background-color: #424242; }

.pun-bg-txt {
  color: #303030; }

.pun-bg3-txt {
  color: #000000; }

.pun-bg2-txt {
  color: #212121; }

.pun-bg1-txt {
  color: #424242; }

.pun-bg-glass {
  background-color: transparent; }

.pun-txt-glass {
  color: transparent; }

.pun-color-50 {
  background-color: #E3F2FD; }
  .pun-color-50-txt {
    color: #E3F2FD; }

.pun-color-100 {
  background-color: #BBDEFB; }
  .pun-color-100-txt {
    color: #BBDEFB; }

.pun-color-200 {
  background-color: #90CAF9; }
  .pun-color-200-txt {
    color: #90CAF9; }

.pun-color-300 {
  background-color: #64B5F6; }
  .pun-color-300-txt {
    color: #64B5F6; }

.pun-color-400 {
  background-color: #42A5F5; }
  .pun-color-400-txt {
    color: #42A5F5; }

.pun-color-500 {
  background-color: #2196F3; }
  .pun-color-500-txt {
    color: #2196F3; }

.pun-color-600 {
  background-color: #1E88E5; }
  .pun-color-600-txt {
    color: #1E88E5; }

.pun-color-700 {
  background-color: #1976D2; }
  .pun-color-700-txt {
    color: #1976D2; }

.pun-color-800 {
  background-color: #1565C0; }
  .pun-color-800-txt {
    color: #1565C0; }

.pun-color-900 {
  background-color: #0D47A1; }
  .pun-color-900-txt {
    color: #0D47A1; }

.pun-color2-50 {
  background-color: #ECEFF1; }
  .pun-color2-50-txt {
    color: #ECEFF1; }

.pun-color2-100 {
  background-color: #CFD8DC; }
  .pun-color2-100-txt {
    color: #CFD8DC; }

.pun-color2-200 {
  background-color: #B0BEC5; }
  .pun-color2-200-txt {
    color: #B0BEC5; }

.pun-color2-300 {
  background-color: #90A4AE; }
  .pun-color2-300-txt {
    color: #90A4AE; }

.pun-color2-400 {
  background-color: #78909C; }
  .pun-color2-400-txt {
    color: #78909C; }

.pun-color2-500 {
  background-color: #607D8B; }
  .pun-color2-500-txt {
    color: #607D8B; }

.pun-color2-600 {
  background-color: #546E7A; }
  .pun-color2-600-txt {
    color: #546E7A; }

.pun-color2-700 {
  background-color: #455A64; }
  .pun-color2-700-txt {
    color: #455A64; }

.pun-color2-800 {
  background-color: #37474F; }
  .pun-color2-800-txt {
    color: #37474F; }

.pun-color2-900 {
  background-color: #263238; }
  .pun-color2-900-txt {
    color: #263238; }

.pun-color-a1 {
  background-color: #FF80AB; }
  .pun-color-a1-txt {
    color: #FF80AB; }

.pun-color-a2 {
  background-color: #FF4081; }
  .pun-color-a2-txt {
    color: #FF4081; }

.pun-color-a3 {
  background-color: #F50057; }
  .pun-color-a3-txt {
    color: #F50057; }

.pun-color-a4 {
  background-color: #C51162; }
  .pun-color-a4-txt {
    color: #C51162; }

.pun-info-color, .pun-info-bg, .pun-info-txt, .pun-warning-color, .pun-warning-bg, .pun-warning-txt, .pun-success-color, .pun-success-bg, .pun-success-txt, .pun-error-color, .pun-error-bg, .pun-error-txt {
  font-weight: 500; }

.pun-info-color {
  background-color: #0099CC;
  color: #33b5e5;
  border-color: #33b5e5; }

.pun-info-bg {
  background-color: #0099CC; }

.pun-info-txt {
  color: #0099CC; }

.pun-info-border {
  border-color: #33b5e5; }

.pun-warning-color {
  background-color: #FF8800;
  color: #ffbb33;
  border-color: #ffbb33; }

.pun-warning-bg {
  background-color: #FF8800; }

.pun-warning-txt {
  color: #FF8800; }

.pun-warning-border {
  border-color: #ffbb33; }

.pun-success-color {
  background-color: #007E33;
  color: #00C851;
  border-color: #00C851; }

.pun-success-bg {
  background-color: #007E33; }

.pun-success-txt {
  color: #007E33; }

.pun-success-border {
  border-color: #00C851; }

.pun-error-color {
  background-color: #CC0000;
  color: #ff4444;
  border-color: #ff4444; }

.pun-error-bg {
  background-color: #CC0000; }

.pun-error-txt {
  color: #CC0000; }

.pun-error-border {
  border-color: #ff4444; }

/*# sourceMappingURL=pun-black.css.map */
