/* prefix:'' bg:white acc:Pink color:Blue color2:Blue Grey  */
.hr, .color-50.hr,
.color-50 > .hr, .color-100.hr,
.color-100 > .hr, .color-200.hr,
.color-200 > .hr, .color-300.hr,
.color-300 > .hr, .color-400.hr,
.color-400 > .hr, .color-500.hr,
.color-500 > .hr, .color2-50.hr,
.color2-50 > .hr, .color2-100.hr,
.color2-100 > .hr, .color2-200.hr,
.color2-200 > .hr, .color2-300.hr,
.color2-300 > .hr, .color2-400.hr,
.color2-400 > .hr, .color-a1.hr,
.color-a1 > .hr, .color-a2.hr,
.color-a2 > .hr, .color-600.hr,
.color-600 > .hr, .color-700.hr,
.color-700 > .hr, .color-800.hr,
.color-800 > .hr, .color-900.hr,
.color-900 > .hr, .color2-500.hr,
.color2-500 > .hr, .color2-600.hr,
.color2-600 > .hr, .color2-700.hr,
.color2-700 > .hr, .color2-800.hr,
.color2-800 > .hr, .color2-900.hr,
.color2-900 > .hr, .color-a3.hr,
.color-a3 > .hr, .color-a4.hr,
.color-a4 > .hr {
  height: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }
  .hr::before, .color-50.hr::before,
  .color-50 > .hr::before, .color-100.hr::before,
  .color-100 > .hr::before, .color-200.hr::before,
  .color-200 > .hr::before, .color-300.hr::before,
  .color-300 > .hr::before, .color-400.hr::before,
  .color-400 > .hr::before, .color-500.hr::before,
  .color-500 > .hr::before, .color2-50.hr::before,
  .color2-50 > .hr::before, .color2-100.hr::before,
  .color2-100 > .hr::before, .color2-200.hr::before,
  .color2-200 > .hr::before, .color2-300.hr::before,
  .color2-300 > .hr::before, .color2-400.hr::before,
  .color2-400 > .hr::before, .color-a1.hr::before,
  .color-a1 > .hr::before, .color-a2.hr::before,
  .color-a2 > .hr::before, .color-600.hr::before,
  .color-600 > .hr::before, .color-700.hr::before,
  .color-700 > .hr::before, .color-800.hr::before,
  .color-800 > .hr::before, .color-900.hr::before,
  .color-900 > .hr::before, .color2-500.hr::before,
  .color2-500 > .hr::before, .color2-600.hr::before,
  .color2-600 > .hr::before, .color2-700.hr::before,
  .color2-700 > .hr::before, .color2-800.hr::before,
  .color2-800 > .hr::before, .color2-900.hr::before,
  .color2-900 > .hr::before, .color-a3.hr::before,
  .color-a3 > .hr::before, .color-a4.hr::before,
  .color-a4 > .hr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.0625em; }

.txt1-bg, .color-50.txt1-bg,
.color-50 > .txt1-bg, .color-100.txt1-bg,
.color-100 > .txt1-bg, .color-200.txt1-bg,
.color-200 > .txt1-bg, .color-300.txt1-bg,
.color-300 > .txt1-bg, .color-400.txt1-bg,
.color-400 > .txt1-bg, .color-500.txt1-bg,
.color-500 > .txt1-bg, .color2-50.txt1-bg,
.color2-50 > .txt1-bg, .color2-100.txt1-bg,
.color2-100 > .txt1-bg, .color2-200.txt1-bg,
.color2-200 > .txt1-bg, .color2-300.txt1-bg,
.color2-300 > .txt1-bg, .color2-400.txt1-bg,
.color2-400 > .txt1-bg, .color-a1.txt1-bg,
.color-a1 > .txt1-bg, .color-a2.txt1-bg,
.color-a2 > .txt1-bg {
  background-color: rgba(0, 0, 0, 0.87); }

.txt2-bg, .color-50.txt2-bg,
.color-50 > .txt2-bg, .color-100.txt2-bg,
.color-100 > .txt2-bg, .color-200.txt2-bg,
.color-200 > .txt2-bg, .color-300.txt2-bg,
.color-300 > .txt2-bg, .color-400.txt2-bg,
.color-400 > .txt2-bg, .color-500.txt2-bg,
.color-500 > .txt2-bg, .color2-50.txt2-bg,
.color2-50 > .txt2-bg, .color2-100.txt2-bg,
.color2-100 > .txt2-bg, .color2-200.txt2-bg,
.color2-200 > .txt2-bg, .color2-300.txt2-bg,
.color2-300 > .txt2-bg, .color2-400.txt2-bg,
.color2-400 > .txt2-bg, .color-a1.txt2-bg,
.color-a1 > .txt2-bg, .color-a2.txt2-bg,
.color-a2 > .txt2-bg {
  background-color: rgba(0, 0, 0, 0.54); }

.txt3-bg, .color-50.txt3-bg,
.color-50 > .txt3-bg, .color-100.txt3-bg,
.color-100 > .txt3-bg, .color-200.txt3-bg,
.color-200 > .txt3-bg, .color-300.txt3-bg,
.color-300 > .txt3-bg, .color-400.txt3-bg,
.color-400 > .txt3-bg, .color-500.txt3-bg,
.color-500 > .txt3-bg, .color2-50.txt3-bg,
.color2-50 > .txt3-bg, .color2-100.txt3-bg,
.color2-100 > .txt3-bg, .color2-200.txt3-bg,
.color2-200 > .txt3-bg, .color2-300.txt3-bg,
.color2-300 > .txt3-bg, .color2-400.txt3-bg,
.color2-400 > .txt3-bg, .color-a1.txt3-bg,
.color-a1 > .txt3-bg, .color-a2.txt3-bg,
.color-a2 > .txt3-bg {
  background-color: rgba(0, 0, 0, 0.26); }

.icon-bg, .color-50.icon-bg,
.color-50 > .icon-bg, .color-100.icon-bg,
.color-100 > .icon-bg, .color-200.icon-bg,
.color-200 > .icon-bg, .color-300.icon-bg,
.color-300 > .icon-bg, .color-400.icon-bg,
.color-400 > .icon-bg, .color-500.icon-bg,
.color-500 > .icon-bg, .color2-50.icon-bg,
.color2-50 > .icon-bg, .color2-100.icon-bg,
.color2-100 > .icon-bg, .color2-200.icon-bg,
.color2-200 > .icon-bg, .color2-300.icon-bg,
.color2-300 > .icon-bg, .color2-400.icon-bg,
.color2-400 > .icon-bg, .color-a1.icon-bg,
.color-a1 > .icon-bg, .color-a2.icon-bg,
.color-a2 > .icon-bg {
  background-color: rgba(0, 0, 0, 0.54); }

.bg,
body, .txt1, .bg3, .bg2, .bg1, .color-50, .color-50.txt1,
.color-50 > .txt1, .color-100, .color-100.txt1,
.color-100 > .txt1, .color-200, .color-200.txt1,
.color-200 > .txt1, .color-300, .color-300.txt1,
.color-300 > .txt1, .color-400, .color-400.txt1,
.color-400 > .txt1, .color-500, .color-500.txt1,
.color-500 > .txt1, .color2-50, .color2-50.txt1,
.color2-50 > .txt1, .color2-100, .color2-100.txt1,
.color2-100 > .txt1, .color2-200, .color2-200.txt1,
.color2-200 > .txt1, .color2-300, .color2-300.txt1,
.color2-300 > .txt1, .color2-400, .color2-400.txt1,
.color2-400 > .txt1, .color-a1, .color-a1.txt1,
.color-a1 > .txt1, .color-a2, .color-a2.txt1,
.color-a2 > .txt1, .info-bg, .warning-bg, .success-bg, .error-bg {
  color: rgba(0, 0, 0, 0.87); }

.txt2, .color-50.txt2,
.color-50 > .txt2, .color-100.txt2,
.color-100 > .txt2, .color-200.txt2,
.color-200 > .txt2, .color-300.txt2,
.color-300 > .txt2, .color-400.txt2,
.color-400 > .txt2, .color-500.txt2,
.color-500 > .txt2, .color2-50.txt2,
.color2-50 > .txt2, .color2-100.txt2,
.color2-100 > .txt2, .color2-200.txt2,
.color2-200 > .txt2, .color2-300.txt2,
.color2-300 > .txt2, .color2-400.txt2,
.color2-400 > .txt2, .color-a1.txt2,
.color-a1 > .txt2, .color-a2.txt2,
.color-a2 > .txt2 {
  color: rgba(0, 0, 0, 0.54); }

.txt3, .color-50.txt3,
.color-50 > .txt3, .color-100.txt3,
.color-100 > .txt3, .color-200.txt3,
.color-200 > .txt3, .color-300.txt3,
.color-300 > .txt3, .color-400.txt3,
.color-400 > .txt3, .color-500.txt3,
.color-500 > .txt3, .color2-50.txt3,
.color2-50 > .txt3, .color2-100.txt3,
.color2-100 > .txt3, .color2-200.txt3,
.color2-200 > .txt3, .color2-300.txt3,
.color2-300 > .txt3, .color2-400.txt3,
.color2-400 > .txt3, .color-a1.txt3,
.color-a1 > .txt3, .color-a2.txt3,
.color-a2 > .txt3 {
  color: rgba(0, 0, 0, 0.26); }

.icon, .color-50.icon,
.color-50 > .icon, .color-100.icon,
.color-100 > .icon, .color-200.icon,
.color-200 > .icon, .color-300.icon,
.color-300 > .icon, .color-400.icon,
.color-400 > .icon, .color-500.icon,
.color-500 > .icon, .color2-50.icon,
.color2-50 > .icon, .color2-100.icon,
.color2-100 > .icon, .color2-200.icon,
.color2-200 > .icon, .color2-300.icon,
.color2-300 > .icon, .color2-400.icon,
.color2-400 > .icon, .color-a1.icon,
.color-a1 > .icon, .color-a2.icon,
.color-a2 > .icon {
  color: rgba(0, 0, 0, 0.54); }

.hr::before, .color-50.hr::before,
.color-50 > .hr::before, .color-100.hr::before,
.color-100 > .hr::before, .color-200.hr::before,
.color-200 > .hr::before, .color-300.hr::before,
.color-300 > .hr::before, .color-400.hr::before,
.color-400 > .hr::before, .color-500.hr::before,
.color-500 > .hr::before, .color2-50.hr::before,
.color2-50 > .hr::before, .color2-100.hr::before,
.color2-100 > .hr::before, .color2-200.hr::before,
.color2-200 > .hr::before, .color2-300.hr::before,
.color2-300 > .hr::before, .color2-400.hr::before,
.color2-400 > .hr::before, .color-a1.hr::before,
.color-a1 > .hr::before, .color-a2.hr::before,
.color-a2 > .hr::before {
  background-color: rgba(0, 0, 0, 0.12); }

.hr-border, .color-50.hr-border,
.color-50 > .hr-border, .color-100.hr-border,
.color-100 > .hr-border, .color-200.hr-border,
.color-200 > .hr-border, .color-300.hr-border,
.color-300 > .hr-border, .color-400.hr-border,
.color-400 > .hr-border, .color-500.hr-border,
.color-500 > .hr-border, .color2-50.hr-border,
.color2-50 > .hr-border, .color2-100.hr-border,
.color2-100 > .hr-border, .color2-200.hr-border,
.color2-200 > .hr-border, .color2-300.hr-border,
.color2-300 > .hr-border, .color2-400.hr-border,
.color2-400 > .hr-border, .color-a1.hr-border,
.color-a1 > .hr-border, .color-a2.hr-border,
.color-a2 > .hr-border {
  border-bottom: 0.0625em solid rgba(0, 0, 0, 0.12); }

.color-600.txt1-bg,
.color-600 > .txt1-bg, .color-700.txt1-bg,
.color-700 > .txt1-bg, .color-800.txt1-bg,
.color-800 > .txt1-bg, .color-900.txt1-bg,
.color-900 > .txt1-bg, .color2-500.txt1-bg,
.color2-500 > .txt1-bg, .color2-600.txt1-bg,
.color2-600 > .txt1-bg, .color2-700.txt1-bg,
.color2-700 > .txt1-bg, .color2-800.txt1-bg,
.color2-800 > .txt1-bg, .color2-900.txt1-bg,
.color2-900 > .txt1-bg, .color-a3.txt1-bg,
.color-a3 > .txt1-bg, .color-a4.txt1-bg,
.color-a4 > .txt1-bg {
  background-color: #ffffff; }

.color-600.txt2-bg,
.color-600 > .txt2-bg, .color-700.txt2-bg,
.color-700 > .txt2-bg, .color-800.txt2-bg,
.color-800 > .txt2-bg, .color-900.txt2-bg,
.color-900 > .txt2-bg, .color2-500.txt2-bg,
.color2-500 > .txt2-bg, .color2-600.txt2-bg,
.color2-600 > .txt2-bg, .color2-700.txt2-bg,
.color2-700 > .txt2-bg, .color2-800.txt2-bg,
.color2-800 > .txt2-bg, .color2-900.txt2-bg,
.color2-900 > .txt2-bg, .color-a3.txt2-bg,
.color-a3 > .txt2-bg, .color-a4.txt2-bg,
.color-a4 > .txt2-bg {
  background-color: rgba(255, 255, 255, 0.7); }

.color-600.txt3-bg,
.color-600 > .txt3-bg, .color-700.txt3-bg,
.color-700 > .txt3-bg, .color-800.txt3-bg,
.color-800 > .txt3-bg, .color-900.txt3-bg,
.color-900 > .txt3-bg, .color2-500.txt3-bg,
.color2-500 > .txt3-bg, .color2-600.txt3-bg,
.color2-600 > .txt3-bg, .color2-700.txt3-bg,
.color2-700 > .txt3-bg, .color2-800.txt3-bg,
.color2-800 > .txt3-bg, .color2-900.txt3-bg,
.color2-900 > .txt3-bg, .color-a3.txt3-bg,
.color-a3 > .txt3-bg, .color-a4.txt3-bg,
.color-a4 > .txt3-bg {
  background-color: rgba(255, 255, 255, 0.3); }

.color-600.icon-bg,
.color-600 > .icon-bg, .color-700.icon-bg,
.color-700 > .icon-bg, .color-800.icon-bg,
.color-800 > .icon-bg, .color-900.icon-bg,
.color-900 > .icon-bg, .color2-500.icon-bg,
.color2-500 > .icon-bg, .color2-600.icon-bg,
.color2-600 > .icon-bg, .color2-700.icon-bg,
.color2-700 > .icon-bg, .color2-800.icon-bg,
.color2-800 > .icon-bg, .color2-900.icon-bg,
.color2-900 > .icon-bg, .color-a3.icon-bg,
.color-a3 > .icon-bg, .color-a4.icon-bg,
.color-a4 > .icon-bg {
  background-color: #ffffff; }

.color-600, .color-600.txt1,
.color-600 > .txt1, .color-700, .color-700.txt1,
.color-700 > .txt1, .color-800, .color-800.txt1,
.color-800 > .txt1, .color-900, .color-900.txt1,
.color-900 > .txt1, .color2-500, .color2-500.txt1,
.color2-500 > .txt1, .color2-600, .color2-600.txt1,
.color2-600 > .txt1, .color2-700, .color2-700.txt1,
.color2-700 > .txt1, .color2-800, .color2-800.txt1,
.color2-800 > .txt1, .color2-900, .color2-900.txt1,
.color2-900 > .txt1, .color-a3, .color-a3.txt1,
.color-a3 > .txt1, .color-a4, .color-a4.txt1,
.color-a4 > .txt1 {
  color: #ffffff; }

.color-600.txt2,
.color-600 > .txt2, .color-700.txt2,
.color-700 > .txt2, .color-800.txt2,
.color-800 > .txt2, .color-900.txt2,
.color-900 > .txt2, .color2-500.txt2,
.color2-500 > .txt2, .color2-600.txt2,
.color2-600 > .txt2, .color2-700.txt2,
.color2-700 > .txt2, .color2-800.txt2,
.color2-800 > .txt2, .color2-900.txt2,
.color2-900 > .txt2, .color-a3.txt2,
.color-a3 > .txt2, .color-a4.txt2,
.color-a4 > .txt2 {
  color: rgba(255, 255, 255, 0.7); }

.color-600.txt3,
.color-600 > .txt3, .color-700.txt3,
.color-700 > .txt3, .color-800.txt3,
.color-800 > .txt3, .color-900.txt3,
.color-900 > .txt3, .color2-500.txt3,
.color2-500 > .txt3, .color2-600.txt3,
.color2-600 > .txt3, .color2-700.txt3,
.color2-700 > .txt3, .color2-800.txt3,
.color2-800 > .txt3, .color2-900.txt3,
.color2-900 > .txt3, .color-a3.txt3,
.color-a3 > .txt3, .color-a4.txt3,
.color-a4 > .txt3 {
  color: rgba(255, 255, 255, 0.3); }

.color-600.icon,
.color-600 > .icon, .color-700.icon,
.color-700 > .icon, .color-800.icon,
.color-800 > .icon, .color-900.icon,
.color-900 > .icon, .color2-500.icon,
.color2-500 > .icon, .color2-600.icon,
.color2-600 > .icon, .color2-700.icon,
.color2-700 > .icon, .color2-800.icon,
.color2-800 > .icon, .color2-900.icon,
.color2-900 > .icon, .color-a3.icon,
.color-a3 > .icon, .color-a4.icon,
.color-a4 > .icon {
  color: #ffffff; }

.color-600.hr::before,
.color-600 > .hr::before, .color-700.hr::before,
.color-700 > .hr::before, .color-800.hr::before,
.color-800 > .hr::before, .color-900.hr::before,
.color-900 > .hr::before, .color2-500.hr::before,
.color2-500 > .hr::before, .color2-600.hr::before,
.color2-600 > .hr::before, .color2-700.hr::before,
.color2-700 > .hr::before, .color2-800.hr::before,
.color2-800 > .hr::before, .color2-900.hr::before,
.color2-900 > .hr::before, .color-a3.hr::before,
.color-a3 > .hr::before, .color-a4.hr::before,
.color-a4 > .hr::before {
  background-color: rgba(255, 255, 255, 0.12); }

.color-600.hr-border,
.color-600 > .hr-border, .color-700.hr-border,
.color-700 > .hr-border, .color-800.hr-border,
.color-800 > .hr-border, .color-900.hr-border,
.color-900 > .hr-border, .color2-500.hr-border,
.color2-500 > .hr-border, .color2-600.hr-border,
.color2-600 > .hr-border, .color2-700.hr-border,
.color2-700 > .hr-border, .color2-800.hr-border,
.color2-800 > .hr-border, .color2-900.hr-border,
.color2-900 > .hr-border, .color-a3.hr-border,
.color-a3 > .hr-border, .color-a4.hr-border,
.color-a4 > .hr-border {
  border-bottom: 0.0625em solid rgba(255, 255, 255, 0.12); }

.bg,
body {
  background-color: #FAFAFA; }

.bg3 {
  background-color: #E0E0E0; }

.bg2 {
  background-color: #F5F5F5; }

.bg1 {
  background-color: #ffffff; }

.bg-txt {
  color: #FAFAFA; }

.bg3-txt {
  color: #E0E0E0; }

.bg2-txt {
  color: #F5F5F5; }

.bg1-txt {
  color: #ffffff; }

.bg-glass {
  background-color: transparent; }

.txt-glass {
  color: transparent; }

.color-50 {
  background-color: #E3F2FD; }
  .color-50-txt {
    color: #E3F2FD; }

.color-100 {
  background-color: #BBDEFB; }
  .color-100-txt {
    color: #BBDEFB; }

.color-200 {
  background-color: #90CAF9; }
  .color-200-txt {
    color: #90CAF9; }

.color-300 {
  background-color: #64B5F6; }
  .color-300-txt {
    color: #64B5F6; }

.color-400 {
  background-color: #42A5F5; }
  .color-400-txt {
    color: #42A5F5; }

.color-500 {
  background-color: #2196F3; }
  .color-500-txt {
    color: #2196F3; }

.color-600 {
  background-color: #1E88E5; }
  .color-600-txt {
    color: #1E88E5; }

.color-700 {
  background-color: #1976D2; }
  .color-700-txt {
    color: #1976D2; }

.color-800 {
  background-color: #1565C0; }
  .color-800-txt {
    color: #1565C0; }

.color-900 {
  background-color: #0D47A1; }
  .color-900-txt {
    color: #0D47A1; }

.color2-50 {
  background-color: #ECEFF1; }
  .color2-50-txt {
    color: #ECEFF1; }

.color2-100 {
  background-color: #CFD8DC; }
  .color2-100-txt {
    color: #CFD8DC; }

.color2-200 {
  background-color: #B0BEC5; }
  .color2-200-txt {
    color: #B0BEC5; }

.color2-300 {
  background-color: #90A4AE; }
  .color2-300-txt {
    color: #90A4AE; }

.color2-400 {
  background-color: #78909C; }
  .color2-400-txt {
    color: #78909C; }

.color2-500 {
  background-color: #607D8B; }
  .color2-500-txt {
    color: #607D8B; }

.color2-600 {
  background-color: #546E7A; }
  .color2-600-txt {
    color: #546E7A; }

.color2-700 {
  background-color: #455A64; }
  .color2-700-txt {
    color: #455A64; }

.color2-800 {
  background-color: #37474F; }
  .color2-800-txt {
    color: #37474F; }

.color2-900 {
  background-color: #263238; }
  .color2-900-txt {
    color: #263238; }

.color-a1 {
  background-color: #FF80AB; }
  .color-a1-txt {
    color: #FF80AB; }

.color-a2 {
  background-color: #FF4081; }
  .color-a2-txt {
    color: #FF4081; }

.color-a3 {
  background-color: #F50057; }
  .color-a3-txt {
    color: #F50057; }

.color-a4 {
  background-color: #C51162; }
  .color-a4-txt {
    color: #C51162; }

.info-color, .info-bg, .info-txt, .warning-color, .warning-bg, .warning-txt, .success-color, .success-bg, .success-txt, .error-color, .error-bg, .error-txt {
  font-weight: 500; }

.info-color {
  background-color: #33b5e5;
  color: #0099CC;
  border-color: #0099CC; }

.info-bg {
  background-color: #33b5e5; }

.info-txt {
  color: #33b5e5; }

.info-border {
  border-color: #0099CC; }

.warning-color {
  background-color: #ffbb33;
  color: #FF8800;
  border-color: #FF8800; }

.warning-bg {
  background-color: #ffbb33; }

.warning-txt {
  color: #ffbb33; }

.warning-border {
  border-color: #FF8800; }

.success-color {
  background-color: #00C851;
  color: #007E33;
  border-color: #007E33; }

.success-bg {
  background-color: #00C851; }

.success-txt {
  color: #00C851; }

.success-border {
  border-color: #007E33; }

.error-color {
  background-color: #ff4444;
  color: #CC0000;
  border-color: #CC0000; }

.error-bg {
  background-color: #ff4444; }

.error-txt {
  color: #ff4444; }

.error-border {
  border-color: #CC0000; }

/*# sourceMappingURL=white.css.map */
